* {
    border: 0;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.doeaqui,
.faleconosco,
.sobrenos,
.nossaloja,
.parceiros,
.promocoes {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;

    color: #000000;
}


.barra {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    z-index: 99;
    
}



a {
    color: #000000;
    text-decoration: none;
}

.logo {
    width: 250px;
    

}

.doeaqui {

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    color: #000000;
}

.promocoes {

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    color: #000000;

}

.parceiros {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    color: #000000;
}

.nossaloja {

    top: 71px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    color: #000000;
}

.sobrenos {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    color: #000000;
}

.faleconosco {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    color: #000000;
}

.introducao {
    width: 100%;
    height: 990px;
    position: relative;
    top: 0px;

}

.introducao img {
    width: 100%;

}

.titulo1 {
    position: absolute;
    width: 700px;
    height: 10px;
    margin-left: 200px;
    top: 160px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 71px;

    color: #F6F6F6;
}

.texto1 {
    position: absolute;
    width: 600px;
    height: 302px;
    margin-left: 200px;
    top: 290px;

    font-style: normal;
    font-weight: 25px;
    font-size: 37px;
    line-height: 42px;

    color: #FFFFFF;
    text-align: justify;
}

.botaodoeaqui {
    position: absolute;
    width: 190px;
    margin-left: 200px;
    margin-top: -300px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    background-color: #FEC208;
    padding: 15px;
    text-align: center;
    color: #000000;
    border-radius: 40px;
    border: #000000 solid 1px;
}

.botaodoeaqui:hover{
    background-color: #ffffff;
    transition: 1s;
}

.coracao2 {
    width: 20px;
    height: 20px;
    top: 30px;
}

.barraamarela {
    background-color: #ffffff;
    height: 20px;
    position: absolute;
    top: 975px;
    width: 100%;
    z-index: 99;
}

.teladepropaganda {
    position: relative;
    background: linear-gradient(180deg, #9C0000 0%, #9C0000 100%);
    width: 100%;
    height: 650px;
    margin-top: 0px;
    z-index: 9;

}

.titulopromocao {
    font-weight: bold black;
    width: 521px;
    height: 97px;
    margin-left: 200px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bolder;
    font-size: 60px;
    line-height: 97px;
    color: #ffffff;

}

.burguer {
    position: absolute;
    width: 600px;
    right: 150px;
    top: 000px;

}

.textopromocao {

    width: 600px;
    height: 600px;
    margin-left: 200px;
    margin-top: 100px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 56px;
    color: rgb(255, 255, 255);
}



.botaoconfira {
    position: absolute;
    width: 190px;
    height: 40px;
    margin-left: 350px;
    top: 500px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    background-color: #FEC208;
    padding: 15px;
    text-align: center;
    color: #000000;
    border-radius: 40px;
    border: #000000 solid 1px;
}

.botaoconfira:hover{
    background-color: #ffffff;
    transition: 1s;
}

.inst

.barraamarela2{
    background-color: #fec208;
    height: 20px;
    position: absolute;
    top: 1630px;
    width: 100%;
    z-index: 99;
}

.compre {
    position: absolute;
    width: 352px;
    height: 63px;
    left: 200px;
    top: 1700px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 63px;

    color: #000000;

}

.compretexto1 {
    position: absolute;

    height: 81px;
    left: 200px;
    top: 1800px;
    right: 200PX;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: justify;

    color: #000000;
}

.linha {
    position: absolute;

    height: 0px;
    left: 200px;
    top: 1900px;
    right: 200px;

    border: 1px solid #000000;
}

.compretexto2 {
    position: absolute;
    width: 700px;
    height: 126px;
    left: 200px;
    top: 1930px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    text-align: justify;

    color: #000000;
}

.linha2 {
    position: absolute;
    right: 200px;
    height: 0px;
    left: 200px;
    top: 2080px;

    border: 1px solid #000000;
}

.botaonossaloja {
    position: absolute;
    right: 150px;
    width: 250px;
    height: 40px;
    right: 200px;
    top: 1955px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    background-color: #FEC208;
    padding: 15px;
    text-align: center;
    color: #000000;
    border-radius: 40px;
    border: #000000 solid 1px;
}

.botaonossaloja:hover{
    background-color: #FF2929;
    transition: 1s;
}

.sacola {
    width: 30px;
    height: 30px;
    top: 40px;
}

.help {
    background-color: rgba(216, 216, 216, 0.164);
    height: 600px;
}

.crianca {
    background: linear-gradient(180deg, #000000 0%, #9C0000 34.9%);
    height: 1000px;
}

.criancaimg {
    box-sizing: border-box;

    position: absolute;
    width: 1181px;
    height: 702px;
    left: calc(50% - 1181px/2 - 21.5px);
    top: 2500px;

    background: url(image.png);
    border: 5px solid #FFFFFF;
    border-radius: 140px;
}

.titulolove {
    position: absolute;
    width: 606px;
    height: 79px;
    top: 2350px;
    left: 30%;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 63px;
    text-align: center;

    color: #FFFFFF;
}

.ultima {
    background-color: #ffffff;
    height: 700px;
}

.tresmilhao {
    position: absolute;
    width: 528px;
    height: 109px;
    left: 200px;
    top: 3450px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 90px;
    line-height: 109px;

    background: linear-gradient(180deg, #000000 0%, #9C0000 53.12%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.textomilhao {
    position: absolute;
    width: 630px;
    height: 164px;
    left:   150px;
    top: 3600px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 50px;
    text-align: center;

    color: #000000;

}

.maos {
    position: absolute;
    width: 250px;
    height: 250px;
    right: 200px;
    top: 3450px;
}

.final {
    background-color: #DDDDDD; 
    padding: 150px;
}

.politicasetermo {
    position: absolute;
    height: 28px;
    left: 300px;
    top: 4030px;
    width: 400px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;

    color: #000000;
}

.politicasdeprivacidade {
    position: absolute;
    width: 225px;
    height: 23px;
    left: 500px;
    top: 4080px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;

    color: #000000;
}

.termosecondicoes {
    position: absolute;
    width: 200px;
    height: 23px;
    left: 300px;
    top: 4080px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;

    color: #000000;
}



.contato {
    position: absolute;
    width: 74px;
    height: 23px;
    left: 300px;
    top: 4160px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;

    color: #000000;
}

.acessoriaeimprensa {
    position: absolute;
    width: 310px;
    height: 23px;
    left: 440px;
    top: 4160px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;

    color: #000000;
}

.faleconoscobarrabaixo {
    position: absolute;
    width: 160px;
    height: 28px;
    left: 300px;
    top: 4120px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;

    color: #000000;

}

.twitter {
    position: absolute;
    right: 300px;
    top: 4110PX;
    bottom: 1%;
    width: 25PX;
}

.facebook {
    position: absolute;
    right: 350px;
    top: 4110PX;
    bottom: 2.77%;
    width: 25PX;
}

.insta {
    position: absolute;
    right: 400px;
    top: 4110PX;
    bottom: 2.77%;
    width: 25PX;
}

.linkedin {
    position: absolute;
    right: 450px;
    top: 4110PX;
    bottom: 2.77%;
    width: 25PX;
}

.youtube {
    position: absolute;
    right: 500px;
    top: 4110PX;
    width: 25PX;

}

.inst {
    width: 50px;
    position: absolute;
    right: 220px;
    top: 550px;
}

.mc {
    width: 50px;
    position: absolute;
    right: 290px;
    top: 565px;
}

button {
    background-color: #ffffff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ffffff;
}